<nav>
  <div class="nav-i">
    <a class="logo" href="/"><span class="logo-monogram" aria-hidden="true">RH</span><b>Hawkins</b>Ops</a>
    <button id="mobBtn" class="mob-btn" type="button" aria-expanded="false" aria-controls="mobMenu" aria-label="Toggle site navigation">Menu</button>
    <ul class="nav-l">
{{DESKTOP_NAV_ITEMS}}
    </ul>
    <a class="btn btn-p" href="{{CTA_HREF}}">{{CTA_LABEL}}</a>
    <button id="themeToggle" class="theme-btn" type="button" aria-label="Switch to light mode">Light</button>
  </div>
</nav>
<div id="mobMenu" class="mob-menu" data-open="false" role="navigation" aria-label="Mobile site navigation">
{{MOBILE_NAV_ITEMS}}
</div>
